@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #242424;
  color: #fff;
}

@keyframes ping {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}
